@charset "UTF-8";

.visual-content {
    position: relative; 
    padding-bottom: 80px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: rgb(73, 57, 113);
}


form div span{
	font-family: 'Pretendard-Regular';
	font-size:0.9em;
}



.terms-scroll {
    max-height: 150px; /* 원하는 높이로 조정 */
    overflow-y: auto;  /* 세로 스크롤 추가 */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 0.8); /* 연한 배경색 추가 */
}

.terms-content {
    line-height: 1.5;
}

.submit-button {
    padding: 10px;
    background-color: rgb(73, 57, 113);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(60, 47, 90); /* 조금 더 어두운 색상 */
}


.visual-content input:focus {
    border: 2px solid #8a6fb5; /* 덜 튀는 보라색 테두리 */
    background-color: rgba(138, 111, 181, 0.1); /* 더 부드러운 연한 보라색 배경 */
    outline: none; /* 기본 아웃라인 제거 */
    box-shadow: none; /* 그림자 효과 제거 */
}

/* 약관동의 스크롤 바 부분*/

.terms-scroll::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
}

.terms-scroll::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바의 색상 */
    border-radius: 10px; /* 스크롤바의 둥근 모서리 */
}

.terms-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* 스크롤바에 마우스를 올렸을 때의 색상 */
}

.terms-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 배경 색상 */
    border-radius: 10px; /* 배경의 둥근 모서리 */
}



/*------------------------------------------*/
/* 로그인창 하단 copyright*/
.copyright {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #333;
    padding: 10px 0;
    background-color: #f9f9f9; 
}

.footer-links,
.social-media {
    margin-top: 5px;
}

.social-media a,
.footer-links a {
    text-decoration: none;
    margin: 0 5px;
    color: #004080;
}

.social-media a:hover,
.footer-links a:hover {
    text-decoration: underline;
    color: #2c3e50;
}

.social-media a {
    margin: 0 10px;
    font-size: 24px; 
}

/* 약관 동의 체크박스 오른쪽 배치 */
.terms-agreement {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 왼쪽 정렬 */
}
