@charset "UTF-8";

/* 사이드컨텐츠 */
.side-content{
    background-color: #fff;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    
    
}
.side-content-box{
    background-color: #f6f7fb;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}


/* 로그인 관련 */
.side-content .account{}
.side-content .account > a{
    width: 100%;
    text-align: center;
    border: none;
    margin: 3px 0;
    border-radius: 7px;
}
.side-content .account > a:nth-of-type(1){
    background-color: rgb(73, 57, 113);
    color: #fff;
    font-family: 'GmarketSansMedium';
    padding: 12px;
}
.side-content .account > a:nth-of-type(2){
   margin-bottom: 0;
}
.side-content .account > a:nth-of-type(3){
    
}
.side-content .account > a img{
    width: 100%;
    height: 100%;
}
.side-content .account p{
    text-align: center;
    margin-bottom: 15px;
}
.side-content .account p a{
    font-size: 10px;
    color: #aaa;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
  
 

}
.side-content .account p a:hover{
    color: #333;
}

/* 로그인 후 css */

.side-content .account {
    padding: 20px; 
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-content .account .welcome-message {
   font-size: 12px;
    margin-bottom: 20px;
    color: rgb(73, 57, 113); 
    font-family: 'GmarketSansMedium'; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.side-content .account .button-group {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    gap: 10px;
}

.side-content .account .btn {
    padding: 7px 15px; 
    background-color: #4a90e2;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s;
    font-size:14px;
}

.side-content .account .btn:hover {
    background-color: #357ab7;
}

/* 등급표시 css*/

.user-grade {
    margin-top: 2px; /* 위쪽 여백 */
    padding: 5px; /* 내부 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: rgba(73, 57, 113, 0.1); /* 부드러운 배경색 */
    color: rgb(73, 57, 113); /* 텍스트 색상 */
    font-weight: bold; /* 텍스트 두께 */
    font-size: 12px; /* 텍스트 크기 */
    text-align: center; /* 중앙 정렬 */
    
}

.button-group {
    margin-top: 10px; /* 버튼 그룹 위쪽 여백 */
    display: flex; /* 플렉스 박스 레이아웃 */
    justify-content: center; /* 중앙 정렬 */
}
.user-grade > div{
	font-size:inherit;
}


/*----------------------- */

/* 프리미엄 가게 */

.side-content .premium-store{
    height: 590px;
    overflow: hidden; 
}
 /* 로그인 시 높이조절 */
.side-content .premium-store.logged-in {
    height: 532px;
}
.side-content .premium-store h5{
    font-size: 1em;
    position: relative; 
    z-index: 1;
}
.side-content .premium-store .premium-list{
    position: relative;
    height: calc(100% - 50px);
    overflow: hidden;
    margin-top: 7px;
    
    
}
.side-content .premium-store .premium-list .card{
    background-color: #fff;
    margin: 10px 0;
    padding: 5px 7px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    transition: transform 0.5s ease; 
}

/* 상호명과 지역명을 담는 박스 스타일 */
.side-content .premium-store .premium-list .premium-title {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-between;
    padding: 5px 0;
    align-items: center; /* 수직 정렬 */
}

/* 상호명 박스 */
.side-content .premium-store .premium-list .premium-title span {
    font-size: 16px;
    font-weight: bold;
    display: inline-block; /* 수평으로 배치 */
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap; /* 텍스트가 한 줄로 유지되게 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
}

/* 지역명에 대한 스타일 */
.side-content .premium-store .premium-list .premium-title small {
    font-family: inherit;
    font-size: inherit;
    padding: 5px 10px;
    border-radius: 10px; /* 모서리 둥글게 */
    background-color: #A52A2A; /* 기본 색상 */
    color: #fff; /* 글자 색상 */
    transition: background-color 0.3s ease; /* 색상 전환 효과 */
}

.side-content .premium-store .premium-list .card:nth-child(odd) .premium-title small {
    background-color: #8A2BE2; /* 블루벨벳 */
}

.side-content .premium-store .premium-list .card:nth-child(even) .premium-title small {
    background-color: #FFD700; /* 골드 */
}

.side-content .premium-store .premium-list .card:nth-child(3) .premium-title small {
    background-color: #32CD32; /* 라임그린색 */
}

.side-content .premium-store .premium-list .card:nth-child(4) .premium-title small {
    background-color: #FF6347; /* 토마토색 */
}

/* 카드 스타일 */
.side-content .premium-store .premium-list .card {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 카드 이미지 */
.side-content .premium-store .premium-list figure {
    margin-bottom: 15px;
}

.side-content .premium-store .premium-list figure a{}
.side-content .premium-store .premium-list figure a img {
    display: block;
    width: 100%;
    aspect-ratio: 7 / 4;
    margin-bottom: 12px;
    object-fit: cover;
    border-radius: 10px;
}

/* 카드 설명 */
.side-content .premium-store .premium-list figure figcaption {
    color: #666;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 13px;
    line-height: 1.6;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 4; /* 4줄로 제한 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


/* 카드 호버 효과 */
.side-content .premium-store .premium-list .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
    transform: translateY(-5px); /* 약간 떠오르는 효과 */
}